.especialidade__conteudo__lista{
    text-align: center;
    padding: 0 1em;
    gap: 1em;
}
.especialidade__conteudo__lista-item{
    padding: 1em 0;
}
.especialidade__conteudo__lista-texto{
    font-size: 0.75em;
}