@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('carrossel.css');
@import url('destaques.css');
@import url('procurados.css');
@import url('sobre.css');
@import url('especialidade.css');
@import url('responsabilidade.css');
@import url('time.css');
@import url('trabalhe.css');
@import url('footer.css');
@import url('premium.css');

:root{
	--font-principal: "Montserrat", sans-serif;
	--cor-font-principal: #363636;
	--cor-font-destaque: rgb(30, 144, 255);
	/* --cor-background-destaque: linear-gradient(to bottom, #ededed, #FFFFFF); */
	--cor-background-destaque: #ededed;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: var(--font-principal);
	color: var(--cor-font-principal);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.titulo__secundario{
    text-align: center;
    font-weight: 700;
	font-size: 1.25em;
    text-transform: uppercase;
    color: var(--cor-font-destaque);
	margin: 2em 0;
}
.titulo__secundario::after{
    content: '';
    display: block;
    width: 7%;
    border-bottom: 1px solid var(--cor-font-destaque);
    margin: 0.5em auto;
}
.titulo__terciario{
    text-transform: uppercase;
    margin: 1em 0;
    font-weight: 600;
}
